@font-face {
	font-family: "AirbnbMedium";
	src: url("../../../public/fonts/AirbnbCerealApp-Medium.ttf") format("ttf"),
		url("../../../public/fonts/AirbnbCerealApp-Medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AirbnbBook";
	src: url("../../../public/fonts/AirbnbCerealApp-Book.ttf") format("ttf"),
		url("../../../public/fonts/AirbnbCerealApp-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "AirbnbMedium";
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* ph: padding-horizontal
pv: padding-vertical */
.mh-2 {
	margin: 2em 0;
}

.mv-1 {
	margin-left: 1em;
	margin-right: 1em;
}

.ph-1 {
	padding: 1em 0;
}

.ph-2 {
	padding: 2em 0;
}

.pv-1 {
	padding-left: 1em;
	padding-right: 1em;
}

i.icon {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

/* TITLE HEADER */
.header-wrap {
	background: url("../../../public/assets/morning2.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 45%;
	flex-basis: 25%;
}

.overlay {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.header-name {
	color: #fff;
	font-size: 20px;
}

/* LIST */
.list-box {
	width: 100%;
	flex: 1;
	overflow-y: auto;
}

/* CUSTOM SCROLLBAR */

/* width */
.list-box::-webkit-scrollbar {
	width: 9px;
}

/* Track */
.list-box::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.list-box::-webkit-scrollbar-thumb {
	background: rgb(156, 156, 156);
}

/* Handle on hover */
.list-box::-webkit-scrollbar-thumb:hover {
	background: rgb(107, 107, 107);
}

/* ================================== */

.todolist {
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: 22px;
}

.todolist-wrap:not(:last-child) {
	border-bottom: 1px solid #ebebeb;
}

.todolist .checkbox-box {
	position: relative;
	width: 45px;
	height: 45px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.todolist .checkbox-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;

	width: 5px;
	height: 100%;
	background-color: orange;
	border-radius: 5px;
}

.todolist .checkbox {
	opacity: 100% !important;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.list-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 5px;
}

.list-content .tagbox .label {
	font-size: 13px;
	width: fit-content;
	padding: 3px 0.6em;
}

.list-content .title {
	display: flex;
	word-wrap: break-word;
	margin-top: 8px;
}

.list-content .title h4 {
	margin: 0;
	display: flex;
	align-items: center;
	font-weight: normal;
	font-size: 18px;
	max-width: 600px;
}

.list-content p {
	margin-top: 3px;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.616);
	display: block;
	float: left;
}

.tools {
	flex-basis: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.tools .button {
	background: none;
	outline: none;
	border: none;
	width: 40px;
	height: 40px;
}

.tools .button .icon {
	font-size: 14px;
}

.tools .button:hover {
	background-color: rgba(0, 0, 0, 0.123);
}

.tools .button:hover > .icon {
	color: rgba(0, 0, 0, 0.938);
}

/* FOOTER */
.footer {
	flex-basis: 20%;
	position: relative;
}

.btn-add-task {
	background-color: #0669fe;
	color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;

	position: absolute;
	left: 1em;
	top: calc(100% - 40px - 1em);

	cursor: pointer;
}

.btn-add-task:hover {
	background-color: #0361f0;
}

.btn-add-task i {
	font-size: 16px;
}

/* FLOAT MENU */
.floatmenu {
	position: absolute;
	left: calc(1em + 40px);
	bottom: 40px;
	box-shadow: 3px 5px 5px #ebebeb !important;
	z-index: 10;
	margin: 0 !important;
}

.floatmenu a,
i {
	font-size: 15px;
}

.ui.secondary.menu .item:hover:not(.active) {
	background-color: #e4e4e48f;
}

.ui.secondary.menu .active:hover {
	background-color: #cfcfcf !important;
	font-weight: 800;
}

.ui.secondary.menu .active {
	font-weight: 800;
}

.ui.secondary.menu .active.item {
	background-color: #cfcfcf;
}

.ui.secondary.vertical.menu > .item {
	border-radius: 0 !important;
}

.dropdown .menu {
	display: block !important;
}
